<%= form_with(model: poodle, local: true) do |form| %>
  <% if poodle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poodle.errors.count, "error") %> prohibited this poodle from being saved:</h2>

      <ul>
      <% poodle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.number_field :weight %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.number_field :height %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>

  <div class="field">
    <%= form.label :birth %>
    <%= form.datetime_select :birth %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
