<p id="notice"><%= notice %></p>

<h1>Poodles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Avatar</th>
      <th>Birth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @poodles.each do |poodle| %>
      <tr>
        <td><%= poodle.name %></td>
        <td><%= poodle.weight %></td>
        <td><%= poodle.height %></td>
        <td><%= poodle.avatar %></td>
        <td><%= poodle.birth %></td>
        <td><%= link_to 'Show', poodle %></td>
        <td><%= link_to 'Edit', edit_poodle_path(poodle) %></td>
        <td><%= link_to 'Destroy', poodle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poodle', new_poodle_path %>
