<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @poodle.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @poodle.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @poodle.height %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @poodle.avatar %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @poodle.birth %>
</p>

<%= link_to 'Edit', edit_poodle_path(@poodle) %> |
<%= link_to 'Back', poodles_path %>
